{% extends 'base.html' %} {% block title %}{{post.title|truncatewords:3}} {% endblock title %}

{% block blogactive %}active
{% endblock blogactive %}
{% load humanize %}
{% load extras %}
{% block body %}
<div class="container my-3">
  <div class="blog-post">
    <h2 class="blog-post-title">{{post.title}}</h2>
    <p class="blog-post-meta">{{post.timestamp}} by <a href="/about">{{post.author}}</a></p>

    <p>{{post.content|safe}}</p>
    <hr>
  </div>
</div>
<div class="container">
  <h2>Comments ({{comments.count}})</h2>
  {% if user.is_authenticated %}
  <form action="/blog/postComment" method="post">
    {% csrf_token %}
    <input type="hidden" name="postSno" value="{{post.sno}}">
    <div class="form-group">
      <label for="comment">Post comment</label>
      <input type="text" class="form-control" name="comment" id="comment" placeholder="Comment here">
      <input type="hidden" name="parentSno" value="">
    </div>
    <button type="submit" class="btn btn-primary">Add Comment</button>
  </form>
  {% else %}
  <button class="btn btn-primary" data-toggle="modal" data-target="#loginmodal">Login to comment</button>
  {% endif %}
  {% for comment in comments %}
  <div class="row my-3">
    <div class="col-md-1"><img src="/static/img/user-1633249_1280.png" class="rounded d-flex mx-auto p-2 w-100" alt="">
    </div>
    <div class="col-md-11"><b>{{comment.user}}</b><span class="badge badge-secondary p-1 px-2 ml-1"> (
        {{comment.timestamp|naturaltime}})</span><br>{{comment.comment}}
      <div class="reply mx-0">
        <p>
          <button class="btn btn-primary btn-sm " type="button" data-toggle="collapse"
            data-target="#replyBox{{comment.sno}}" aria-expanded="false" aria-controls="collapseExample">
            Reply
          </button>

          {% if request.user == comment.user %}
        <form action="/blog/commentdelete" method="POST">
          {% csrf_token %}
          <input type="hidden" name="delcomment" value="{{comment.sno}}">
          <input type="hidden" name="delpostcommentsno" value="{{post.sno}}">
          <button class="btn btn-primary btn-sm " type="button">
            Delete
          </button>
        </form>
        {% endif %}
        </p>

        {% comment %} Comment box {% endcomment %}
        <div class="collapse" id="replyBox{{comment.sno}}">
          <div class="card card-body">

            {% comment %} Form for reply cmment {% endcomment %}
            <form action="/blog/postComment" method="post">
              {% csrf_token %}
              <input type="hidden" name="postSno" value="{{post.sno}}">
              <div class="form-group">
                <label for="comment">Reply comment</label>
                <input type="text" class="form-control" name="comment" id="comment" placeholder="Comment here">
                <input type="hidden" name="parentSno" value="{{comment.sno}}">
              </div>
              <button type="submit" class="btn btn-primary btn-sm">Add Reply</button>
            </form>
            <form action="/blog/commentdelete" class="" method="POST">
              {% if request.user == comment.user %}
              {% csrf_token %}
              <input type="hidden" name="commentid" value={{comment.sno}}>
              <button class="btn btn-primary btn-sm " type="button" aria-expanded="false"
                aria-controls="collapseExample">
                Delete
              </button>
              {% endif %}
            </form>
          </div>
        </div>
        <div class="reply my-2 bg-secondary">
        {% if replyDict|length != 0 %}
        {% for reply in replyDict|get_val:comment.sno  %}
          {{reply}}<br>
        {% endfor %}
        {% endif %}
        </div>
      </div>
    </div>
  </div>

  {% endfor %}
</div>
{% endblock body %}